# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist-ssr
*.local
.env
.env.*
!.env.example

# Confidential Configuration & Secret Keys
public/api/data/config.json
dist/api/data/config.json
**/data/config.json
**/data/config.local.json
public/api/data/keys.json
dist/api/data/keys.json
**/data/keys.json
*.pem
*.key
*.cert

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python cache
__pycache__/
*.pyc
